body {
  background: radial-gradient(
    34.85% 43.98% at 50.89% 56.02%,
    rgba(209, 190, 176, 0.76) 0%,
    #d2b49f 100%
  );
}
#header {
  width: 100%;
  background: var(--white);
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
}
.navigation {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap:wrap; */
  align-items: center;
  align-content: center;
  height: 120px;
}
.nav-link {
  display: flex;
  align-content: center;
}
.nav-link a {
  margin-left: 2rem;
  font-weight: 900;
}
/* nav icon */
nav .menu-btn i {
  color: var(--grey);
  font-size: 1.5rem;
  display: none;
}
#click {
  display: none;
}

#main {
  padding-left: 110px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin-top: 3rem;
}
#main .product-info {
  padding-top: 8rem;
  /* padding-left: 6rem; */
}
#main img {
 
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin-top: 5rem;
}
#main h1 {
  font-size: 7rem;
}
#main h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#main .product-info .info {
  border: 1.5px solid var(--grey);
  padding: 0.3rem 2rem;
  border-radius: 10px;
  font-size: 1.2 rem;
  font-weight: 700;
  box-shadow: 2px 4px 8px -1px rgba(0, 0, 0, 0.15);
}
#main .product-info h1 {
  line-height: 1;
}

#main .product-info p {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 200px;
}
/* qozee color ellipse */

.color-ellipse {
  display: flex;
}
.color-ellipse button {
  cursor: pointer;
}
.color-ellipse .beige {
  width: 44px;
  height: 44px;
  background: #d3b5a0;
  border: 2.5px solid var(--white);
  border-radius: 100%;
  box-shadow: 2px 4px 8px -1px rgba(0, 0, 0, 0.25);
}
.color-ellipse .gray {
  margin-left: 1.7rem;
  width: 40px;
  height: 40px;
  background: #646877;
  border: 2.5px solid var(--white);
  border-radius: 100%;
  box-shadow: 2px 4px 8px -1px rgba(0, 0, 0, 0.25);
}
.color-ellipse .black {
  margin-left: 1.7rem;
  width: 40px;
  height: 40px;
  background: #000000;
  border: 2.5px solid var(--white);
  border-radius: 100%;
  box-shadow: 2px 4px 8px -1px rgba(0, 0, 0, 0.25);
}
.color-ellipse .khaki {
  margin-left: 1.7rem;
  width: 40px;
  height: 40px;
  background: #384036;
  border: 2.5px solid var(--white);
  border-radius: 100%;
  box-shadow: 2px 4px 8px -1px rgba(0, 0, 0, 0.25);
}
footer {
  background: var(--grey);
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  text-align: center;
  color: var(--white);
}
footer .footer-mail {
  padding-top: 1.75rem;
  padding-bottom: 0.5rem;
}
/* about css */
#about {
  background: var(--white);
}
.contact-me {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.about {
  padding-right: 25px;
  padding-left: 25px;
}
.about h2 {
  font-size: 3rem;
  margin-top: 6rem;
}
.about p {
  font-weight: 500;
  margin-top: 2rem;
  line-height: 2;
}
.about img {
  opacity: 70%;
  width: 100%;
  max-width: 708px;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 50px;
  margin-bottom: 100px;
  z-index: -1;
}
.btn-yellow {
  background: var(--yellow);
  color: var(--grey);
  padding: 0.3rem 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 2px 4px 8px -1px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 3rem;
}

/* contact */
.contact {
  display: flex;
  flex-direction: column;
  padding: left 25px;
  padding-right: 25px;
}
.contact h2 {
  font-size: 2.5rem;
  margin-top: 8rem;
}
.form-group label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
}
.m-label {
  font-weight: 600;
}
.mail-phone {
  display: flex;
}
.mail-phone p {
  margin-left: 2rem;
  margin-top: 4rem;
}
.contact .contact-img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  margin-right: 300px;
  margin-top: 170px;
}
.contact-form {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}
.form-control {
  width: 330px;
  padding: 0.3rem;
  border: 1px solid var(--grey);
  border-radius: 10px;
  resize: none;
}
.item-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}
.item-2 {
  margin-top: 4rem;
  margin-left: 8rem;
  
}
.message-button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 
}
.message-button button{
  margin-top: 1rem;
}
