
h2 {
  font-size: 2rem;
  padding: 0 10px;
  display: inline-block;
  background: var(--yellow);
  margin-bottom: 1.6rem;
  border-radius: 10px;
}
.ftr-productinfo {
  display: block;
}
.one {
  margin-top: 2rem;
}
.two,
.three,
.four,
.five {
  margin-top: 6rem;
}
.product-img img {
  margin-top: 2rem;
}
#header {
  display: block;
  position: fixed;
  margin-top: -50px;
}
.scroll {
  display: none;
}
.wrapper {
  margin-top: 50px;
  padding-top: 100px;
}
.navigation {
  height: 100px;
}
.navigation a img {
  max-width: 220px;
  margin-top: 10px;
}

.logo-icon {
  display: none;
}
.product-img img {
  width: 300px;
}
.product-img img {
  display: block;
}
.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-navigation {
  display: none;
}
.buy-btn {
  position: fixed;
  left: 35vw;
  bottom: 0;
  bottom: 30px;
  background: var(--yellow);
  color: var(--grey);
  padding: 0.3rem 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 2px 4px 8px -1px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 1rem;
  text-decoration: none;
  transition: 0.3s;
}
@media screen and (min-width: 1500px) {
  /* @keyframes animasyon {
    form {
      position: absolute;
      margin-right: 0px;
    }
    to {
      margin-right: 70px;
    }
  } */
  h2 {
    padding: 0;
    display: inline-block;
    background: var(--white);
    margin-bottom: 0rem;
    border-radius: 0px;
  }
  .one {
    margin-top: 0rem;
  }
  .two,
  .three,
  .four,
  .five {
    transition-duration: 3sn;
    animation-name: fadeInRight;
    margin-top: 0rem;
  }
  .product-img img {
    margin-top: 0rem;
    animation-name: animasyon;
    animation-duration: 2s;
  }
  #header {
    display: none;
  }
  .product-img img {
    width: auto;
  }
  .scroll {
    display: block;
  }

  .left-navigation {
    display: block;
    position: fixed;
    height: 100%;
    background: var(--yellow);
    width: 150px;
  }
  .left-navigation i {
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  .left-nav {
    justify-content: space-between;
    display: flex;
    height: 55vh;
    flex-direction: column;
    align-items: center;
  }

  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide {
    width: 100vw;
    height: 100vh;
    max-width: 2500px;
  }

  .wrapper {
    scroll-snap-align: start;
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    padding-top: 0px;
    margin-top: 0px;
  }

  .outer-wrapper {
    scroll-snap-type: x mandatory;
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    -ms-overflow-style: none;
    z-index: -1;
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: var(--grey);
  }
  .product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
    scroll-snap-align: start;
  }
  .buy-btn {
    position: fixed;
    left: 50vw;
    bottom: 0;
    bottom: 70px;
    background: var(--yellow);
    color: var(--grey);
    padding: 0.3rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 2px 4px 8px -1px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-top: 3rem;
    text-decoration: none;
    transition: 0.3s;
  }
  .buy-btn:hover {
    background: var(--grey);
    color: var(--yellow);
  }
  .scroll {
    position: fixed;
    width: 4rem;
    right: 0;
    bottom: 0;
    bottom: 55px;
    right: 150px;
  }
  .product-info h2 {
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.3;
  }
  .product-info p {
    font-size: 1.4rem;
  }
  .logo-icon {
    display: block;
  }
  .ftr-productinfo {
    display: none;
  }
}
